<h1>Bills</h1>
<table class="table-with-borders">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Type</th>
      <th>Status</th>
      <th>Submitted By</th>
      <% if current_user.admin? %>
        <th>Actions</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.amount %></td>
        <td><%= bill.bill_type %></td>
        <td><%= bill.status %></td>
        <td><%= bill.user.email %></td>
        <% if current_user.admin? %>
          <td>
            <%= link_to 'Approve', approve_bill_path(bill), data: { turbo_method: :patch, turbo_confirm: "Are you sure?" } %>
            <%= link_to 'Reject', reject_bill_path(bill), data: { turbo_method: :patch, turbo_confirm: "Are you sure?" } %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Bill', new_bill_path %>