<%= stylesheet_link_tag 'bill' %>
<div class="row">
  <div class="column column-50">
    <h1>Bills</h1>
  </div>
  <div class="column column-50 text-right">
    <%= link_to 'New Bill', new_bill_path, class: 'button button-outline' %>
  </div>
</div>

<div class="card-body">
  <div style="display: flex; justify-content: space-between;">
    <span style="background-color: #f0f0f0; border-radius: 20px; padding: 5px 15px;">
      Total Submitted: <%= number_to_currency(@total_submitted) %>
    </span>
    <span style="background-color: #f0f0f0; border-radius: 20px; padding: 5px 15px;">
      Total Approved: <%= number_to_currency(@total_approved) %>
    </span>
  </div>
</div>

<table class="table-with-borders">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Type</th>
      <th>Status</th>
      <th>Submitted By</th>
      <% if current_user.admin? %>
        <th>Actions</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.amount %></td>
        <td><%= bill.bill_type %></td>
        <td><%= bill.status %></td>
        <td><%= bill.user.email %></td>
        
        <% if current_user.admin? %>
          <td class="action-links">
            <%= link_to approve_bill_path(bill), class: 'action-btn approve', data: { turbo_method: :patch, turbo_confirm: "Are you sure?" } do %>
              <i class="fas fa-check-circle"></i> Approve
            <% end %>
            <%= link_to reject_bill_path(bill), class: 'action-btn reject', data: { turbo_method: :patch, turbo_confirm: "Are you sure?" } do %>
              <i class="fas fa-times-circle"></i> Reject
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>