<h1>Submit Bill</h1>

<%= form_with(model: @bill, local: true) do |form| %>
  <% if @bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
        <% @bill.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :bill_type %>
    <%= form.select :bill_type, Bill.bill_types.keys.map { |type| [type.humanize, type] } %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>


  <div class="actions">
    <%= form.submit 'Submit Bill' %>
  </div>
<% end %>

<%= link_to 'Back', bills_path %>